# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\test-uid-generator\com.wucc.island\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
